body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1240px;
    height: 100%;
    margin: 0 auto;
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.header__content-logo{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header__content__nav{
   gap: 15px;
}

.header__content__nav-login{
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
   
}

.header__content-btn{
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    border-radius: 40px;
    border: 2px solid #FFF;

}

@media screen and (max-width:450px) {
    .header__content-logo{
        display: none;
    }
    
}

 .hero{
    background: url(https://s3-alpha-sig.figma.com/img/a397/4a28/0dc63d9ccd142ecdbf799689440dc6be?Expires=1699228800&Signature=VnNYmyeSFRuKK-mzpgzPcB5B6glemiyCnHheN56uloAa5Stco5UI9Ilc2g7~KTc2tfY8FJQxIGIBAW2U5P2RRzsFHmiffCChXH~g7UNbE8hYs-YjBFJsRxmEyBgEWTQaLvloO0-1QarxB6g3n1n2S2TkUmEllBZslS6BvCcV1ADyP0DhpPKbhD3dh2hsM~q3YXDzIZ~2fEUbzWEnXiakx2QtXlGG-H6ir8CE6u8KZAZpAl7L1riW~ogYnhLURT0spc2Q7JL4m737--1NSMrw6pTBIaiJICYaxbWf3h6vhcGOQyLsimIFnNqYrq80zg~JbItxG5UCUVpsH9OSXLU10w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4) center/cover;
    height: 100vh;
 } 

.hero__content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 300px 0;

    
    
}

.hero__content-title{
    color: #FFF;
    font-size: 52px;
    font-weight: 700;
    
}

.hero__content-pretitle{
    
    color: #F7F3F2;
    font-size: 24px;
    font-weight: 300;
    line-height: 24.5px; 
}

.hero__content-btn{
    width: 225px;
    height: 40px;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    border-radius: 40px;
    background: #FF4E50;
}

@media screen and (max-width:450px) {
    .hero__content-title{
        font-size:28px;
    }
    
}

@media screen and  (max-width:320px) {
    .hero__content-pretitle{
        font-size: 18px;
    }
    
}

@media screen and (max-width:405px) {
    .hero__content-btn{
        font-size: 10px;
        border-radius: 25px;
    }
    
}

.parrent{
    max-width: 1200px;
    margin: 0 auto;
     
}

.parrent-title{
    color: #444;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0 30px  0;
}

.parrent__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

}


 .image-wrap{
    max-width: 400px;
    height: 400px;
    position: relative;
    
}

.image-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .image-info{
    position: absolute;
    bottom: 20px;
    max-width: 100%;
    padding:  0 15px;
 }

 .image-btn{
    color: #FFF;
    font-size: 10px;
    font-weight: 400;
    width: 70px;
    height: 20px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: #FF4E50;
 }

 .image-title{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
 }

 .image-text{
    color: #E3E3E3;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px; 
 } 

 @media screen and (max-width:340px) {
    .parrent-title{
        font-size:20px ;
    }
    
 }

 @media screen and (max-width:770px) {
    .parrent__content{
        display: grid;
        grid-template-columns: 1fr;
    }
    
 }

 .person-title{
    margin: 100px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    font-size: 22px;
    font-weight: 700;
}
.person__content-image{
    display: grid;
    padding: 0 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



@media screen and (max-width:490px) {
    .person-title{
        font-size:22px ;
    }
    
}

@media screen and (max-width:610px) {
    .person__content-image{
        display: grid;
        grid-template-columns: 1fr ;
    }
    
}


 







